body{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    font-family: 'Roboto', sans-serif;
}

body::after{
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(180deg, rgba(252, 121, 0, 0.58) 21.22%, rgba(252, 121, 0, 0) 100%);
    z-index: -1;
}

/* HOME */
.inicio h1 {
    color: #fff;
    margin-top: -10px;
}

/* Bom dia celso */
.inicio p {
    color: #fff;
    margin-top: -20px; 
}

.imgCelso {
    display: flex;
    margin-left: 280px;
    margin-top: -70px;
}

/* barra pesquisar */
.pesquisar {
    margin-top: 25px;
}

/* buscar por algo */
.pesquisar p {
    color: #000000;
    opacity: 36%;
    margin-top: -35px;
    margin-left: 10px;
    font-size: 14px;
}

.lupa{
    display: flex;
    margin-left: 280px;
    margin-top: -35px;
}

.categorias {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-top: 40px;
    font-size: 15px;
}

.quadrados {
    display: flex;
    margin-left: -2px;
    margin-top: -10px;
    gap: 7px;
}

.pizzasalgada {
    display: flex;
    margin-top: -40px;
    margin-left: 10px;
}

.bebidas {
    display: flex;
    margin-top: -25px;
    margin-left: 69px;
}

.frutas {
    display: flex;
    margin-top: -25px;
    margin-left: 128px;
}

.pizzadoce {
    display: flex;
    margin-top: -25px;
    margin-left: 187px;
}

.sorvete {
    display: flex;
    margin-top: -23px;
    margin-left: 246px;
}

.bolos {
    display: flex;
    margin-top: -25px;
    margin-left: 305px;
}

.favoritas {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 15px;
    margin-top: 30px;
}

.fav1 {
    display: flex;
    margin-top: -10px;
    margin-left: -2px;
}

.fav2 {
    display: flex;
    margin-top: -104px;
    margin-left: 170px;
}

.fav3 {
    display: flex;
    margin-top: -104px;
    margin-left: 340px;
}

.preco {
    margin-top: -45px;
}

.preco p {
    color: #fff;
    display: flex;
    font-size: 12px;
    margin-top: -23px;
    margin-left: 5px;
}

.preco2 {
    margin-left: 90px;
    margin-top: -25px;
}

.preco2 p {
    margin-left: 92px;
}

.recomendados {
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 15px;
    margin-top: 55px;
}

/* pizza2 recomendada */
.rec2 {
    display: flex;
    margin-top: -123px;
    margin-left: 210px;
}

.preco-rec {
    margin-top: -45px;
    margin-left: 2px;
}

.preco-rec p {
    color: #fff;
    font-size: 12px;
    margin-top: -22px;
    margin-left: 4px;
}

.preco-rec2 {
    display: flex;
    margin-left: 215px;
    margin-top: -30px;
}

.preco-rec2 p {
    display: flex;
    margin-left: 215px;
}

/* .barra {
    color: #F27706;
    width: 360px;
    height: 59px;
} */

/* .sombra {
    background: #0000008C;
    width: 112px;
    height: 360px;
    margin-top: 300px;
    left: 23px;
    border-radius: 0px, 0px, 0px, 8px;
    z-index: 1;
} */