body{
    height: 100vh;
    background-image: url(./img/background.webp.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    font-family: 'Roboto', sans-serif;
}

/* Acesse a sua conta */
.frases-conteudo h1{
    color: white;
    width: 257px;
    height: 99px;
    margin-left: -90px;
    margin-top: 60px;
}

/* O que você está esperando */
.frase p{
    color: white;
    width: 311px;
    height: 57px;
    margin-top: -120px;
    margin-left: -40px;
} 

/* Seu e-mail aqui */
.cadastro p {
    color: white;
    font-size: 16px;
    font-weight: 100;
    margin-top: -30px;
    margin-left: 10px;
} 

/* img email */
 .email{
    margin-top: -300px;
    margin-left: -30px;
}  

.linha1 {
    margin-left: -35px;
}